# Node modules
node_modules/

# Entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios temporales
dist/
tmp/
temp/

# Otros archivos
# Ignorar archivos y carpetas de MongoDB
data/db/data/
data/
